flask
flask_sqlalchemy
werkzeug
sqlalchemy
pandas
numpy
scikit-learn
scipy
joblib
matplotlib
seaborn
openpyxl
python-docx
python-pptx
fpdf2
xlsxwriter
reportlab
Pillow
pyecharts
lxml
simplejson
rich
typer
dashscope
